body{
    background-image: url(https://img.freepik.com/free-vector/minimal-love-hearts-background-with-text-space_1017-23417.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
}

#By{
    position:absolute;
    top: 370px;
    left: 64px;
    width: 210px;
    height: 210px;
}

#Bn{
    position:absolute;
    top: 370px;
    left: 166px;
    width: 210px;
    height: 210px;
}